<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skott.softsquared.outsourcing_simulation">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".src.config.ApplicationClass"
        android:supportsRtl="true"
        android:theme="@style/Theme.OutSourcingSimulating"
        >
        <activity android:name=".src.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".src.main.certification.CertificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.findid.FindIdForEmailActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="find_id_for_email"/>
            </intent-filter>
        </activity>
        <activity android:name=".src.main.home.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.create_profile.CreateProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.find_town.FindTownActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".src.main.my_town_setting.MyTownSettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.used_product_post.UsedProductPostActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.skott.softsquared.outsourcing_simulation.src.main.seek_town.SeekTownActivity"/>
        <activity android:name=".src.main.product_detail.ProductDetailActivity"
                    android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.favorite_list.FavoriteListActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.sell_list.SellListActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.buy_list.BuyListActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.app_setting.AppSettingActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.delete_user.DeleteUserActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.profile.ProfileActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.buyer_select.BuyerSelectActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.collect_user.CollectUserActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.collect_user_management.CollectUserManagementActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".src.main.start_auth.StartAuthActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"/>
    </application>

</manifest>